{
	"semi": true,
	"trailingComma": "all",
	"singleQuote": false,
	"tabWidth": 2,
	"printWidth": 80,
	"endOfLine": "auto",
	"useTabs": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
